[Unit]
Description=CandyBox main service
After=multi-user.target
DefaultDependencies=true

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/CandyBox/CandyBox/main_code
StandardOutput=inherit
StandardError=inherit
Restart=no
User=CandyBox

[Install]
WantedBy=sysinit.target multi-user.target
