[Unit]
Description=CandyBox LED service
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u indicatorLED.py
WorkingDirectory=/home/pi/CandyBox/main_code
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=sysinit.target
